* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*mission section*/

.mission-section {
    padding-bottom: 100px;
    padding: 0px 100px 100px 100px
}

.mission-h1 {
    text-align: center;
    margin: auto;
    margin-top: 7vh;
    border-bottom: 3px solid;
    width: 200px;
    padding-bottom: 25px;
}

.mission-p {
    margin-top: 7vh;
    font-size: 22px;
    line-height: 48px;
    padding: 0px 40px;
    text-align: center;
}

.help-line {
    width: 91vw;
    border-top: 1px solid black;
    margin: auto;
}

.help {
padding-bottom: 50px;
}

.want-to-help {
    padding-top: 50px;
    line-height: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px 80px;
    
}

.help-h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 10px;
}

.help-p1 {
    text-align: center;
    font-size: 19px;
    padding-bottom: 100px;
}

.help-grid {
    display: flex;
    place-items: center;
    place-content: center;
    grid-template-columns: 25vw 25vw 25vw;
}

.grid-item-help {
    align-content: center;
    justify-content: center;
}

.help-item {
    text-align: center;
    width: 100%;
}

.help-item button {
    padding: 22px 70px;
    background-color: rgb(22, 22, 22);
    color: white;
    cursor: pointer;
}

.help-item button:hover {
    background-color: transparent;
    color: black;
    transition: .2s;

}



/*---------------*/

.nav ul{
    border-bottom: 1px solid;
    padding: 17px;
    box-sizing: content-box;
}
.nav ul, li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}



.nav-logo {
    color: black;
    font-size: 35px;
}

.join {
    color: black;
}



.cite {
    color: black;
}

.button-container {
    text-align: center;
}

.b1 {
    margin-right: 50px;
    padding: 17px 27px;
    color: white;
    background-color: #0f0f0f;
    border: 1px solid black;
    cursor: pointer;
    
}

.b1:hover {
    background-color: transparent;
    color:black;
    transition: .2s;
}

.b2 {
    margin-left: 50px;
    padding: 17px 37px;
    background-color: transparent;
    border: 2px solid black;
    cursor: pointer;
   
    
}

.b2:hover {
    background-color: #0f0f0f;
    color: white;
    transition: .2s;
   
}

a {
    text-decoration: none !important;
}

.program-grid {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100px 200px 200px 200px ;
    margin-top: 100px;
    justify-content: center;
    column-gap: 80px;
    row-gap: 20px;
    
   
}

.grid-item {
    text-align: center;
    background-color: #0f0f0f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

.hover {
    display: none;
}

.grid-item:hover {
    background-color: transparent;
    border: 3px solid #0f0f0f;
    color:black;
    transition: .2s;
}

.grid-item:hover .hover {
    display: unset;
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: .2s;
}

.grid-item:hover .hide {
    display: none;
}

.i-1 {
    grid-column: 1 / span 2;
    font-size: 29px;
    background-color: transparent;
    color: #0f0f0f;
    border-top: 1px solid black;
    padding: 59px;
   
}

.i-1:hover {
    background-color: transparent;
    color: #0f0f0f;
    border-top: 1px solid black;
    border-bottom: none;
   
}



.intro {
    font-weight: 500;
    font-size: 32px;
    font-family: 'Noto sans';
}

.first-grid {
    display: grid;
    grid-template-columns: 100vw ;
    grid-template-rows: 90px 40px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 90px;

    
}

.logo {
    font-size: 50px;
    text-align: center;
    color: #0f0f0f;
}

.intro-item {
    
    text-align: center;
}

.intro-item2 {
    text-align: center;
    margin-bottom: 70px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 100;
}

.learn {
    font-size: 16px;
    font-family: 'Noto sans';
    font-weight: 500;
    line-height: 1.5;
    color: #0f0f0f;
}

.mission {
    font-size: 19px;
    font-family: 'Noto sans';
}

.footer-grid {
    background-color: #0f0f0f;
    color: white;
    display: flex;
    justify-content: space-evenly;
}




@media screen and (max-width: 700px) {




    /**/

    .mission-section {
        padding: 0px 0px 100px 0px;
        text-align: center;
    }

    .mission-p {
        font-size: 17px;
        line-height: 29px;
    }

    .help-grid {
        padding-top: 90px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
    }
    
    
    
    .help-item button {
        padding: 22px 70px;
        background-color: rgb(22, 22, 22);
        color: white;
        cursor: pointer;
    }
    
    .help-item button:hover {
        background-color: transparent;
        color: black;
    
    }
    /**/
    .program-grid {
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: repeat(5, 1fr) ;
        margin-top: 100px;
        justify-content: center;
        column-gap: 80px;
        row-gap: 20px;
    }

    .i-1 {
        grid-column: 1;
    }

    .button-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 22px;
    }

    .b1 {
        margin-right: 0px;
        padding: 17px 47px;
        color: white;
        background-color: #0f0f0f;
        border: 1px solid black;
        cursor: pointer;
        
    }
    
    .b2 {
        margin-left: 0px;
        padding: 17px 57px;
        background-color: transparent;
        border: 2px solid black;
        cursor: pointer;
        color: black
       
        
    }

    .first-grid {
        display: grid;
        grid-template-columns: 90vw ;
        grid-template-rows: 90px 40px;
        align-items: center;
        justify-content: center;
        margin-top: 40px;
        padding-bottom: 90px;
    
        
    }

    .learn {
        font-size: 14px;
    }
}